<%= render partial: 'classroom', locals: {classroom: @classroom} %>

Students:
<% @classroom.students.each do |stu| %>
    <ul>
        <li>
            <%= render partial: 'students/student', locals: {student: stu} %>
        </li>
    </ul>
<% end %>